@model Default_Slice_Value
@{
    ViewData["Title"] = "انشاء شريحة جديدة";
}


<section class="content-wrapper">
    <h1>انشاء شريحة جديد</h1>

   <form asp-action="Create" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row">
            <div class="col-7">
                <label> الكود</label>
                 <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label> وصف الشريحة</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label>كمية استهلاك الشريحة</label>
            <input asp-for="Condition" class="form-control" type="number" />
            <span asp-validation-for="Condition" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label>سعر المتر المكعب من المياة</label>
            <input asp-for="Water_Price" class="form-control" type="number" />
            <span asp-validation-for="Water_Price" class="text-danger"></span>
            </div>

             <div class="col-7">
             <label>سعر خدمة الصرف الصحي</label>
            <input asp-for="Sanitation_Price" class="form-control" type="number" />
            <span asp-validation-for="Sanitation_Price" class="text-danger"></span>
            </div>

            <div class="col-7">
             <label> الملاحظات</label>
             <input asp-for="Comments" class="form-control" />
             <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="انشاء" />
             <a asp-action="DefaultSliceValues" class="btn btn-success">رجوع</a>
        </div>
    </div>
</form>
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }