@model InvoicesViewModel
@{
    ViewData["Title"] = "Create";
}


<section class="content-wrapper">
    <h1>تفاصيل الفاتورة</h1>

    <div class="p-4 rounded border">
        <div class="form-group row">

            <div class="col-3">
                <label> رقم الاشتراك </label>
                <input asp-for="Subscription.Id" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label> هوية المشترك</label>
                <input asp-for="Subscription.Subscriber.Id" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label> اسم المشترك</label>
                <input asp-for="Subscription.Subscriber.Name" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>  المدينة</label>
                <input asp-for="Subscription.Subscriber.City" class="form-control" readonly />
            </div>
            <div class="col-3">
                <label>  الحي</label>
                <input asp-for="Subscription.Subscriber.Area" class="form-control" readonly />
            </div>
            <div class="col-3">
                <label>  رقم الجوال</label>
                <input asp-for="Subscription.Subscriber.Mobile" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>العقار</label>
                <input asp-for="Subscription.Real_Estate_Type.Name" class="form-control" type="text" readonly />
            </div>

            <div class="col-3">
                <label> عدد الوحدات </label>
                <input asp-for="Subscription.No" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>القراءة السابقة</label>
                <input asp-for="Invoice.Previous_Consumption_Amount" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>القراءة الحالية</label>
                <input asp-for="Invoice.Current_Consumption_Amount" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>السنة المالية</label>
                <input asp-for="Invoice.Year" class="form-control" readonly />
            </div>
            <div class="col-3">
                <label>تاريخ الفاتورة</label>
                <input asp-for="Invoice.Date" class="form-control" type="date" readonly />
            </div>

            <div class="col-3">
                <label>من</label>
                <input asp-for="Invoice.From" class="form-control" type="date" readonly />
            </div>

            <div class="col-3">
                <label>الي</label>
                <input asp-for="Invoice.To" class="form-control" type="date" readonly />
            </div>

            <div class="col-3">
                <label>الكمية المستهلكة</label>
                <input asp-for="Invoice.Amount_Consumption" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>رسوم الخدمة % </label>
                <input asp-for="Invoice.Service_Fee" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>نسبة الضريبة % </label>
                <input asp-for="Invoice.Tax_Rate" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>هل يوجد صرف صحي ! </label>
                <input asp-for="Subscription.Is_There_Sanitation" class="form-control" hidden />
                @if (Model.Subscription.Is_There_Sanitation)
                {
                    <input class="form-control" value="يوجد" readonly />

                }
                else
                {
                    <input class="form-control" value=" لا يوجد" readonly />
                }
            </div>

            <div class="col-3">
                <label>قيمة استهلاك المياه </label>
                <input asp-for="Invoice.Consumption_Value" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>قيمة استهلاك الصرف الصحي </label>
                <input asp-for="Invoice.Wastewater_Consumption_Value" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>مجموع الفاتورة </label>
                <input asp-for="Invoice.Total_Invoice" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>قيمة الضريبة </label>
                <input asp-for="Invoice.Tax_Value" class="form-control" readonly />
            </div>

            <div class="col-3">
                <label>اجمالي الفاتورة </label>
                <input asp-for="Invoice.Total_Bill" class="form-control" readonly />
            </div>


            <hr>
        </div>

        <div class="form-group text-center mt-3">

            <input value="طباعة الوصل" onclick="window.print()" class="btn btn-warning" />

            <a href="/" class="btn btn-success">رجوع</a>
        </div>



    </div>

</section>

<script type="text/javascript">
    function printPage() {
        window.print();
    }
</script>

@section scripts{
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
}