@model Subscriber
@{
    ViewData["Title"] = "Add Subscriber";
}


<section class="content-wrapper">
    <h1>اضافة مشترك جديد</h1>

   <form asp-action="Create" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
         <h4 class="text-warning">@ViewData["Message"]</h4>

        <div class="form-group row">
            <div class="col-7">
                <label> رقم الهوية</label>
                 <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label> الاسم</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label>المدينة</label>
            <input asp-for="City" class="form-control" type="text" />
            <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="col-7">
            <label>الحي</label>
            <input asp-for="Area" class="form-control" type="text" />
            <span asp-validation-for="Area" class="text-danger"></span>
            </div>

             <div class="col-7">
             <label>رقم الجوال</label>
            <input asp-for="Mobile" class="form-control" type="number" />
             <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="col-7">
             <label> الملاحظات</label>
             <input asp-for="Comments" class="form-control" />
             <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="اضافة" />
             <a asp-action="subscribers" class="btn btn-success">رجوع</a>
        </div>
    </div>
</form>
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }